<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>OFERTA DE TRUEQUE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="FORM">

    <ion-item>
      <ion-label position="stacked">NOMBRE DEL SERVICIO</ion-label>
      <ion-input class="ion-text-wrap" placeholder="Nombre" formControlName="nombre_servicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PRODUCTO O SERVICIO OFRECIDO</ion-label>
      <ion-input class="ion-text-wrap" placeholder="Descripción (puede incluir imágenes)" formControlName="descripcion_servicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoría Principal</ion-label>
      <ion-select placeholder="Selecciona una categoría" (ionChange)="selectCategoryPrincipal($event)">
        <ion-select-option *ngFor="let categoryMajor of GRUPO_ELEMENTOS">
          {{ categoryMajor.DESC_NIVEL }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categorías Secundarias</ion-label>
      <ion-list>
        <ion-item *ngFor="let category of CATEGORIAS">
          <ion-label>{{ category.DESC_NIVEL }}</ion-label>
          <ion-checkbox slot="start" [(ngModel)]="category.SELECTED"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-item>

  </form>
</ion-content>