<app-header [title]="'REGISTRO'"></app-header>

<ion-content>

  <form [formGroup]="FORM">

    <ion-grid fixed class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-text color="primary">
            <h6>{{ LABEL_PWAID }}</h6>
          </ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-list>
            <ion-item lines="none">
              <ion-icon
                title="Copiar ID"
                aria-hidden="true"
                name="copy"
                slot="end"
                (click)="copyPWAID()"
              ></ion-icon>
              <ion-label>{{ UUID_DEVICE?._uuid_device }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-icon
              title="Copiar ID"
              aria-hidden="true"
              name="phone-portrait"
              color="medium"
              slot="end"
            ></ion-icon>
              <ion-label>{{ UUID_DEVICE?.platform }} / {{ UUID_DEVICE?.manufacturer  }} / {{  UUID_DEVICE?.operatingSystem }} / {{ UUID_DEVICE?.model }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ng-container *ngIf="!INFO_USER; else user">
          <ion-col size="12" class="ion-padding">
            <ion-title class="ion-text-center">
              Ingrese los siguientes datos
            </ion-title>
          </ion-col>
          <ion-col size="12">
            <ion-input type="text" label="Nombres"  formControlName="nombre" label-placement="floating" fill="outline" placeholder="Digite nombres..."></ion-input>
          </ion-col>
  
          <ion-col size="12">
            <ion-input type="email" label="Email" formControlName="email" label-placement="floating" fill="outline" placeholder="Digite email..."></ion-input>
          </ion-col>
  
          <ion-col size="12">
            <ion-input type="number" label="Tel&eacute;fono"  formControlName="telefono" label-placement="floating" fill="outline" placeholder="Digite teléfono..."></ion-input>
          </ion-col>
        </ng-container>
  
        <ng-template #user>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="person"
                  slot="start"
                ></ion-icon>
                <ion-label>{{ INFO_USER?.COD_CLIE }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon
                  aria-hidden="true"
                  name="person"
                  slot="start"
                ></ion-icon>
                <ion-label>{{ INFO_USER?.NOM_CLIE }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon aria-hidden="true" name="call" slot="start"></ion-icon>
                <ion-label>{{ INFO_USER?.TEL_CLIE || "S/N" }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon aria-hidden="true" name="mail" slot="start"></ion-icon>
                <ion-label>{{ INFO_USER?.E_MAIL || "S/N" }}</ion-label>
              </ion-item>
  
              <ion-item lines="none">
                <ion-icon
                  aria-hidden="true"
                  name="settings"
                  slot="start"
                ></ion-icon>
                <ion-chip
                  slot="start"
                  [color]="INFO_USER?.SW_INACTIVO === 1 ? 'success' : 'danger'"
                  >{{
                    INFO_USER?.SW_INACTIVO === 1 ? "ACTIVO" : "INACTIVO"
                  }}</ion-chip
                >
              </ion-item>
            </ion-list>
          </ion-col>
        </ng-template>
      </ion-row>

      <ion-row  *ngIf="!INFO_USER">
        <ion-col size="12">
          <ion-text color="dark" class="ion-text-center">
            <h6>¿Ya tienes cuenta? <ion-text color="primary" (click)="openSheetLogin()"><u>Ingresa Aqu&iacute;</u></ion-text></h6>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>

<ion-footer class="ion-no-border ion-padding" *ngIf="!INFO_USER">
  <ion-toolbar>

    <ion-button expand="full" size="large" [disabled]="FORM.invalid" id="present-alert">Registrar</ion-button>

  </ion-toolbar>
  <ion-alert
    trigger="present-alert"
    header="¿Desea registrarse como usuario?"
    [buttons]="alertButtons"
    (didDismiss)="setResult($event)"
  ></ion-alert>
</ion-footer>

