<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>MIS OFERTAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

        <ng-container *ngIf="!LISTA_OFERTAS; else sihayElementos">


          <ion-card *ngFor="let item of [1,2,3,4,5]" class="ion-no-padding">
            <ion-card-header class="ion-text-start">
                <ion-card-subtitle>
                  <ion-skeleton-text [animated]="true" style="width: 100%; height: 25px;"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          
        </ng-container>


        <ng-template #sihayElementos>
          <ion-list>
            <ion-item *ngFor="let item of LISTA_OFERTAS; index as i;" class="ion-padding-bottom">
              <ion-chip slot="start" [color]="item.SW_INACTIVO === '1' ? 'success' : 'danger'">{{item.SW_INACTIVO === '1' ? 'ACTIVO' : 'INACTIVO' }}</ion-chip>


              <ion-label>
                <ion-text>{{item.NOM_PRODUCTO}}</ion-text><br />
                <ion-note color="medium" class="ion-text-wrap">
                  {{item.DESC_NIVEL}}
                </ion-note>
              </ion-label>
  
            </ion-item>
          </ion-list>

        </ng-template>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

