<app-header [title]="'MIS OFERTAS'"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

        <ng-container *ngIf="LOADING_DATOS; else responseAPI">
          <app-loading></app-loading>          
        </ng-container>

        <ng-template #responseAPI>

          <ng-container *ngIf="!datosResponse.success; else sihayDatos">
            <ion-row class="ion-text-center">
              <ion-col size="12">
                <ion-chip  color="warning">{{datosResponse.name}}</ion-chip>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-template>

        <ng-template #sihayDatos>
          <ion-list>
            <ion-item-sliding *ngFor="let item of datosResponse.data; index as i;">

              <ion-item class="ion-padding-bottom" (click)="viewImages(item)">
                <ion-chip slot="start" [color]="item.SW_INACTIVO === '1' ? 'success' : 'danger'">{{item.SW_INACTIVO === '1' ? 'ACTIVO' : 'INACTIVO' }}</ion-chip>
  
                <ion-label>
                  <ion-text>{{item.NOM_PRODUCTO}}</ion-text>
                  <ion-note color="medium" class="ion-text-wrap">
                    <br> {{ item.DESC_GONDOLA }}
                  </ion-note>
                  <ion-text color="success"><br> {{item.DESC_NIVEL}}</ion-text>
                  <ion-text ><br>{{item.SW_INV_SERIALIZADO === 'D' ? 'DONACIÓN' : 'TRUEQUE'}}</ion-text>  
                </ion-label>
  
                <div class="metadata-end-wrapper" slot="end">
                  <ion-icon color="medium" name="chevron-forward"></ion-icon>
                </div>
    
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option (click)="edit(item)">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
              </ion-item-options>

            </ion-item-sliding>
          </ion-list>

        </ng-template>        

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

