<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="hideModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="LOADING_DATOS; else sihayElementos">

    <ion-card *ngFor="let item of [1,2,3,4,5]" class="ion-no-padding">
      <ion-card-header class="ion-text-start">
          <ion-card-subtitle>
            <ion-skeleton-text [animated]="true" style="width: 100%; height: 25px;"></ion-skeleton-text>
          </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ng-container>

  <ng-template #sihayElementos>

    <ion-card *ngIf="NO_DATOS.name; else conDatos" class="ion-no-padding">
      <ion-card-header class="ion-text-start">
          <ion-card-subtitle>
            {{NO_DATOS.name}}
          </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ng-template #conDatos>
      <ion-card *ngFor="let item of DETALLE_GRUPO_ELEMENTOS.data" class="ion-no-padding">
        <ion-card-header class="ion-text-start">
            <ion-card-title>{{item.COD_PRODUCTO}}</ion-card-title>

            <ion-card-subtitle>
              {{ item.NOM_PRODUCTO }}
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content> {{item.DESC_GONDOLA}} </ion-card-content>

      </ion-card>
    </ng-template>

  </ng-template>


</ion-content>