<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>SUBCATEGORIAS</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="hideModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">

    <ion-list>

      <ng-container formArrayName="subcategorias">
  
        <ng-container [formGroupName]="i" *ngFor="let item of arraySubcategorias.controls; index as i;">

          <ion-item (click)="setSelected(i)">
            <ion-checkbox mode="ios" justify="space-between" [checked]="item.get('SEL_NIVEL').value" [value]="item.get('COD_NIVEL').value" >{{ item.get('DESC_NIVEL').value }}</ion-checkbox>
          </ion-item>

        </ng-container>


      </ng-container>
    </ion-list>

  </form>

</ion-content>

<ion-footer [translucent]="true" class="ion-no-border">
  <ion-toolbar>

    <ion-button color="primary" fill="solid" expand="block" class="ion-padding" (click)="agregar()">
      AGREGAR
    </ion-button>

  </ion-toolbar>
</ion-footer>