<app-header [title]="'BÚSQUEDA DE OFERTAS'"></app-header>

<ion-content>
  
  <ng-container *ngIf="!GRUPO_ELEMENTOS?.data; else sihayElementos">

    <ion-card *ngFor="let item of [1,2,3,4,5]" class="ion-no-padding">
      <ion-card-header class="ion-text-start">
          <ion-card-subtitle>
            <ion-skeleton-text [animated]="true" style="width: 100%; height: 25px;"></ion-skeleton-text>
          </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ng-container>

  <ng-template #sihayElementos>

    <ion-card *ngFor="let item of GRUPO_ELEMENTOS?.data" class="ion-no-padding" (click)="show(item.COD_NIVEL)">
      <ion-card-header class="ion-text-start">
          <ion-card-subtitle>
            {{ item.DESC_NIVEL }}
          </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </ng-template>

</ion-content>