<app-header [title]="'BÚSQUEDA DE OFERTAS'"></app-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  
  <ng-container *ngIf="LOADING_DATOS; else responseAPI">
    <app-loading></app-loading>    
  </ng-container>

  <ng-template #responseAPI>

    <ng-container *ngIf="!datosResponse.success; else sihayDatos">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-chip  color="warning">{{datosResponse.name}}</ion-chip>
        </ion-col>
      </ion-row>
    </ng-container>

  </ng-template>


  <ng-template #sihayDatos>


    <ion-list>
      <ion-item *ngFor="let item of datosResponse.data; index as i;" (click)="show(item)">

        <ion-label>
          <ion-text>{{item.DESC_NIVEL}}</ion-text><br />
        </ion-label>

        <div class="metadata-end-wrapper" slot="end">
          <ion-icon color="medium" name="chevron-forward"></ion-icon>
        </div>

      </ion-item>
    </ion-list>

  </ng-template>

</ion-content>