.imagen-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 16px;
  }

  .icono-borrar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: RED;
    font-size: 24px;
    cursor: pointer;
  }